:root{
    --nero: #1f1f1f;
    --azzurro: #3a6de7;
    --grigio: #bebcbb;
    --blu: #161c3b;
    --rosso: #cd3d0f;
    --biancos: #d9dadc;
    --white:#fff;
    --footer: rgb(0, 67, 156);
}

img{
    max-width: 100%;
    padding: 10px;
}
.white{
    background-color: var(--white);
}
.nero{
    background-color: var(--nero);
}
.biancos{
   color: var(--biancos);
}
.azzurro{
    color: var(--azzurro);
}
#playlogo{
    height: 50px;
    width: 50px;
}
#sony{
    width: 60px;
}
#hero{ 
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.btnrosso{
    background-color: var(--rosso);
    border-radius: 20px;
    border: 1px solid var(--rosso);
    width: 120px;
    margin-bottom: 30px;
    padding: 5px;
    color: var(--white);
}
.cwhite{
    color: var(--white);
}
.pt{
   margin-top: 170px;
   padding-bottom: 30px;
   width: 280px;
}
#cards{
    margin-top: 15px;
}
#cards .card {
    max-width: 14rem;
    border-color: transparent;
    border-radius: 20px;
    margin: 0px;
}
.card img{
    
}
#nuove-uscite .card{
    max-width: 14rem;
    padding: 12px;
    border-color: transparent;
    background-color: var(--nero);
}

.btnblu{
    background-color: var(--azzurro);
    border-radius: 20px;
    border: 1px solid var(--azzurro);
    width: 180px;
    margin-bottom: 50px;
    padding: 5px;
    color: var(--white);
    text-align: center;
    margin-top: 5px; /* non me lo prende */
}

#jumbo{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo img{
    width: 40%;
}
#nuove-uscite{
    background-color: var(--nero);
    color: var(--white);
}
#esplora{
    background-color: var(--grigio);
    padding-bottom: 8px;
}

.btnbiancos{
    color: var(--azzurro);
    background-color: var(--biancos);
    border-radius: 20px;
    border: 1px solid var(--biancos);
    width: 180px;
    margin-bottom: 50px;
    padding: 5px;
    text-align: center;
    margin-left: 5px;
}
#sconti img{
    padding: 20px;
}
#play-now{
    background-color: var(--blu);
    color: var(--white);
}
.btnwhite{
    color: var(--blu);
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--white);
    width: 180px;
    padding: 5px;
    text-align: center;
}
#social img{
    width: 200px;
    height: 200px;
    border-color: transparent;
}
footer{
    background-color: var(--footer);
    color: var(--white);
}
footer .dime{
    width: 40%;
}
li{
    list-style-type: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #social .card{
        width: 150px;
        height: 150px;
    }
    .pt{
        width: 370px;
    }
}