:root{
    --nero: #1f1f1f;
    --azzurro: #3a6de7;
    --grigio: #bebcbb;
    --blu: #161c3b;
    --rosso: #cd3d0f;
    --biancos: #d9dadc;
    --white:#fff;

}
section{
    margin-bottom: 20px ;
}
img{
    max-width: 100%;
    
}
.white{
    background-color: var(--white);
}
.nero{
    background-color: var(--nero);
}
.biancos{
   color: var(--biancos);
}
#playlogo{
    height: 50px;
    width: 50px;
}
#sony{
    width: 60px;
}
#hero{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.btnrosso{
    background-color: var(--rosso);
    border-radius: 20px;
    border: 1px solid var(--rosso);
    width: 120px;
    margin-bottom: 50px;
    padding: 5px;
    color: var(--white);
}
.cwhite{
    color: var(--white);
}
.pt{
   margin-top: 170px;
   padding-bottom: 30px;
}
.card{
    max-width: 14rem;
    padding: 12px;
    
}
.btnblu{
    background-color: var(--azzurro);
    border-radius: 20px;
    border: 1px solid var(--azzurro);
    width: 180px;
    margin-bottom: 50px;
    padding: 5px;
    color: var(--white);
    text-align: center;
}
#jumbo{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#jumbo img{
    width: 40%;
}